{% extends "base.html" %}

{% block content %}
<section>
    <h1>Education</h1>
    <div class="timeline">

        <div class="timeline-item">
            <h3>Einstein College of Engineering</h3>
            <span>2019 – 2023</span>
            <p>B.E in Computer Science – 75%</p>
        </div>

        <div class="timeline-item">
            <h3>Vel's Public School (CBSE)</h3>
            <span>2018 – 2019</span>
            <p>HSC – 60%</p>
        </div>

        <div class="timeline-item">
            <h3>Sri Parasakthi Vidyalaya (CBSE)</h3>
            <span>2016 – 2017</span>
            <p>SSLC – 80%</p>
        </div>

    </div>
</section>
{% endblock %}
